/*CSS Mateusza*/





/*CSS Marcina*/





/*CSS Tomka*/





/*CSS Przemka*/





/*CSS Michala*/
#about{
color: #797E82;
text-align: center;
}

.icon{
padding: 20px;
padding-left: 50px;
padding-right: 50px;
color: #797E82;
text-align: center;
}
