/*CSS Mateusza*/





/*CSS Marcina*/
#footer-nav
{
	background-color: #111111;
	text-align: center;
}
.menu-footer
{
	list-style-type: none;
	margin: 0;
	padding: 10px;
	font-size: 12px;
	min-height: 45px;
	line-height: 200%;
}

.menu-footer > li
{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-right: 1px solid #555555;
}

.menu-footer > li:last-child
{
	border-right: none;
}

.menu-footer a
{
	color: #555555;
	text-decoration: none;
}

.menu-footer a:hover
{
	color: #c7b299;
}


/*CSS Tomka*/





/*CSS Przemka*/





/*CSS Michala*/
#about{
color: #797E82;
text-align: center;
}

.icon{
padding: 20px;
padding-left: 50px;
padding-right: 50px;
color: #797E82;
text-align: center;
}
