.nav-bar {
width: 100%;
opacity: 20%;
height: 56px;
padding: 0 16px;
top: 0;
z-index: 99;
position: fixed;

}


.menu{
  padding-right: 40px;
  float: right;
  margin-right: 0;
  padding-top: 10px;
  font-family: Roboto sans-serif;
  list-style-type: none;
  text-transform: uppercase;
}



ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    clear: none;
}

li a {
  color: white;
  font-size: 20px;
  font-family: Roboto sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  display: block;
  float:left;


}

li {
float: left;
list-style-type: none;
width: 150px;

}

.tesla-logo{

  padding-top: 5px;
  margin-top: 5px;
float: left;
}
